@font-face {
    font-family: Knewave-Regular;
    src: url('Knewave-Regular.ttf');
}

@font-face {
    font-family: rubik-italic-variablefont_wght;
    src: url('Rubik-Italic-VariableFont_wght.ttf');
}

body{
    background-image: url(senkihatter.jpg);
    background-size: 130%;
}

h1{
    color: white;
    font-family: rubik-italic-variablefont_wght;
    text-align: center;
    margin-top: 10%;
    opacity: 1;
}

h2{
    color:white;
    font-family: rubik-italic-variablefont_wght;
    text-align: center;
    opacity: 1;
}

img{
    width: 700px;
    height: 450px;
    margin-left: 22%;
    margin-top: 1%;
    border: black 3px solid;
    border-radius: 8px;
    transition: 0.7s;
    position: relative;
    opacity: 1;
}

.fedes{
    margin-top: 1.2%;
    margin-left: -54.9%;
    position: absolute;
    opacity: 0;
    border: none;
}

.fedes:hover{
    opacity: 1;
}
